@import "../../styling/form.css";

.modal-content {
  background-color: #0f2862;
  font-weight: 600;
}

.modal-header {
  color: #fff;
}

.modal-body input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

.form p {
  margin: 10px 0;
}

.card a {
  color: #488de7;
  text-decoration: none;
}
