<div class="section">
    <div class="card">
        <div class="card_title">
            <h1>Create Account</h1>
            <span>Already have an account? <a [routerLink]="['/login']" routerLinkActive="router-link-active">Sign
                    In</a></span>
        </div>
        <div class="form">
            <form [formGroup]="registrationForm" (ngSubmit)="onRegistration()">
                <input type="text" formControlName="username" placeholder="user name" />
                <input type="email" formControlName="email" placeholder="email" />
                <input type="password" formControlName="password" placeholder="password" />
                <input type="password" formControlName="confirm_password" placeholder="confirm password" />
                <input type="file" (change)="onImageUpload($event)" />
                <button type="submit" [disabled]="!registrationForm.valid"
                    [ngClass]="{'enabled': registrationForm.valid, 'disabled': !registrationForm.valid}">Sign
                    Up</button>
            </form>
        </div>

    </div>
</div>

<div class="container">
    <p>{{count()}}</p>
    <button (click)="increment()" class="btn btn-primary">Click me</button>
</div>