.snackbar {
  min-width: 250px;
  background-color: #dfbbbb;
  color: #fff;
  text-align: center;
  border-radius: 2em;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 4%;
  transform: translateX(-50%);
  -webkit-animation: fadein 1s, fadeout 1s 3s;
  animation: fadein 1s, fadeout 1s 3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 40px;
}

.snackbar h4 {
  color: brown;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.bi {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: brown;
  cursor: pointer;
}
